@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProRegular.otf");
  font-style: normal;
  font-weight: 300;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  height: 70px;
}
h1 {
  font-family: "FilsonPro", sans-serif;
  font-size: 2em;
  color: #ffffff;
  background-color: #f26e44;
  font-weight: 700; /* bold */
  text-align: center;
  padding-top: 10px;
  margin-top: 11px;
}
h2 {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.75em;
  color: #ffffff;
  background-color: #f26e44;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 11px;
  margin-top: -2px;
  font-style: italic;
}
em {
  font-style: normal;
}
/* witte text titel section*/
main section h3 {
  font-family: "FilsonPro", sans-serif;
  font-size: 1.25em;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
/* button home*/
main .home a {
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 245px;
  width: 15em;
  /* tekst in link */
  text-align: center;
  font-family: "FilsonPro", sans-serif;
  font-size: 1em;
  color: #5474b6;
  text-decoration: none;
}
/* class voor ander epagina */
/* button shuffleicon */
main .home a img {
  margin-top: 0;
  height: 3vh;
  display: block;
  margin: auto;
}
/* button acad */
main .acad a {
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  width: 15em;
  /* tekst in link */
  text-align: center;
  font-family: "FilsonPro", sans-serif;
  font-size: 1em;
  color: #5474b6;
  text-decoration: none;
}
main .acad a img {
  margin-top: 0;
  height: 3vh;
  display: block;
  margin: auto;
}
/* button challenge */
main .challenge a {
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 15em;
  /* tekst in link */
  text-align: center;
  font-family: "FilsonPro", sans-serif;
  font-size: 1em;
  color: #5474b6;
  text-decoration: none;
}
main .challenge a img {
  margin-top: 0;
  height: 3vh;
  display: block;
  margin: auto;
}
/* class voor ander epagina */
/* button shuffleicon */
main .acad a img {
  margin-top: 0;
  height: 3vh;
  display: block;
  margin: auto;
}
/* mainfooter */
main footer {
  display: flex;
  justify-content: space-between;
}

main footer img {
  height: 90px;
  margin-top: 15px;
}
main footer a {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.6em;
  text-align: center;
  color: #5474b6;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100000;
  margin: 0;
}

/* in foto */

/* acad */
/* acceptedicon naast tekst */
main section h3 > img {
  height: 3vh;
}

/* challengecard */
/* backgroundimg*/
main .challenge {
  background-image: url("../images/backgroundimgchallenge.png");
  height: 60vh;
  padding-top: 3em;
}
/* inhoudfoto in challenge card */
main .challenge > img {
  height: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

main .challenge h3 {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.95em;
  color: #5474b6;
  margin-left: 90px;
  margin-right: 110px;
}
main .challenge p {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.7em;
  color: #000000;
  margin-left: 100px;
  margin-right: 100px;
}
/* filter */
/* parent */
.filter {
  position: relative;
  top: 0;
  left: 0;
}
.filterpage {
  position: relative;
  top: 0;
  left: 0;
}
.backbutton {
  position: absolute;
  top: 72.5vh;
}
/* instructie van:https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html  */

/* accepted */
/* backgroundimg */
main .accepted {
  background-image: url("../images/backgroundimgaccepted.png");
}

main .accepted h3 {
  margin-left: 10px;
  margin-right: 150px;
  color: #5474b6;
  font-size: 1.1em;
  text-align: left;
}

main .accepted img {
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
main .accepted p {
  margin-left: 35px;
  font-size: 1em;
  color: #fff;
  font-family: "FilsonPro", sans-serif;
}

/* link google maps */
main .accepted a {
  font-family: "FilsonPro", sans-serif;
  color: black;
  font-size: 0.8em;
  margin: 10px;
  margin-left: 20px;
}
main .accepted a img {
  height: 5vh;
  margin: 10px;
  display: inline-block;
}
/* heellppp */

/* backgroundimgs */
/* home */
main .home {
  background-image: url("../images/backgroundimghome.png");
  height: 60vh;
  background-repeat: no-repeat;
}

/* achallengeaday */
main .acad {
  background-image: url("../images/backgroundimgacad.png");
  height: 60vh;
}

/* rest ongeprogrammeerder foto's */
main img {
  height: 100%;
}

/* connections snap niks vn */
main .connections {
  background-image: url("../images/backgroundimgblanc.png");
}
main .connections ul {
  display: flex;
  list-style-type: none;
}
main .connections ul img {
  height: 5vh;
  border-radius: 100px;
}
main .connections h3 {
  font-family: "FilsonPro", sans-serif;
  font-size: 1.25em;
  color: #5474b6;
  background-color: #fff;
  padding: 10px;
  border-radius: 100px;
  padding-top: 10px;
}

/* FOOTER */
/* naast elkaar */
footer > ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #5474b6;
  list-style-type: none;
  padding: 5px;
  margin-top: 11px;
}

/* icons */
footer ul li a img {
  display: block;
  /* waarvoor was dit ookal weer */
  height: 28px;
  margin: 15px;
}
