@font-face {
  font-family: "FilsonPro";
  src: url("../fonts/FilsonProRegular.otf");
  font-style: normal;
  font-weight: 300;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "FilsonPro", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5474b6;
  font-weight: 700; /* bold */
}
h2 {
  font-family: "FilsonPro", sans-serif;
  font-size: 2em;
  color: #ffffff;
  background-color: #f26e44;
  font-weight: 700; /* bold */
  text-align: center;
  padding-top: 10px;
  margin-top: 11px;
}
h4 {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.75em;
  color: #ffffff;
  background-color: #f26e44;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 11px;
  margin-top: -2px;
  font-style: italic;
}
em {
  font-style: normal;
}
h3 {
  font-family: "FilsonPro", sans-serif;
  font-size: 1em;
  color: #000000;
  margin: auto;
}
h5 {
  font-family: "FilsonPro", sans-serif;
  font-size: 0.5em;
  color: #000000;
  font-style: italic;
}
/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  height: 70px;
}

/* MAIN */
main .challenge {
  background-image: url("../images/backgroundimg.png");
  height: 60vh;
}

main section img {
  margin: auto;
  height: 10vh;
}

main footer {
  display: flex;
  justify-content: space-between;
  /* knoppen boven op ander pagina met id? */
}

main footer img {
  height: 90px;
  margin-top: 11px;
}

/* FOOTER */

/* naast elkaar */
footer > ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #5474b6;
  list-style-type: none;
  padding: 5px;
  margin-top: 11px;
}
/* iets met parent nu heb ik alleen parent gdn */
/* icon */

footer ul li a img {
  display: block;
  /* waarvoor was dit ookal weer */
  height: 28px;
  margin: 15px;
}
